.header_container {
  font-family: "Noto Sans KR", sans-serif;
  z-index: 1;
  width: 100vw;
  color: #222;
}
.header_container.active {
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  line-height: 40px;
  padding: 0 200px 0 160px;
  font-size: 14px;
}
.header .nav .tab {
  display: flex;
  gap: 20px;
}
.header .sign {
  display: flex;
  gap: 12px;
  height: 80px;
  line-height: 80px;
}
.sign .lang {
  display: flex;
  position: relative;
  cursor: pointer;
}
.sign .lang p {
  padding-right: 6px;
}
.sign .lang i {
  height: 85px;
  line-height: 85px;
}
.header .lang:hover {
  color: #14adea;
}
.lang_slide {
  position: absolute;
  width: 120px;
  right: 148px;
  top: 40px;
  background-color: #fff;
  z-index: 100;
  padding: 14px 6px;
  color: #222;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.219);
}
.lang_slide p {
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  padding-left: 20px;
}
.lang_slide p.active {
  color: #3586ff;
  font-weight: bold;
}
.lang_slide p:hover {
  color: #3586ff;
  background-color: #ebf6ff;
}

.gnb_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
  padding: 0 160px;
  height: 80px;
  line-height: 80px;
}
.logo {
  margin-top: 25px;
}
.logo img {
  width: 240px;
}
.gnb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 36px;
  cursor: pointer;
  position: relative;
  width: 100%;
}
.gnb > li:hover {
  color: #3586ff;
  text-decoration: underline;
  text-decoration-thickness: 4px;
  text-underline-offset: 30px;
}
.gnb_wrap {
  position: relative;
}
.gnb_wrap .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.gnb_wrap .nav .btn1 i {
  font-size: 18px;
}
.gnb_wrap .nav .btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;
  border: 1px solid #666;
  border-radius: 10px;
}
.gnb_wrap .nav .btn1 i {
  padding-right: 10px;
  padding-top: 2px;
  font-size: 14px;
}
.gnb_wrap .nav .btn1 p {
  font-size: 14px;
  transition: all 0.3s;
  width: 55px;
  height: 32px;
  line-height: 32px;
  padding-left: 16px;
  padding-right: 4px;
}
.gnb_wrap .nav .btn2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin-right: 6px;
  border: 1px solid #222;
  border-radius: 10px;
  width: 95px;
  height: 32px;
  color: #fff;
  background-color: #222;
  font-size: 14px;
  transition: all 0.3s;
}
.gnb_wrap .btn1.active {
  border: 1px solid #222;
}
.gnb_wrap .nav .btn2.active {
  background-color: #222;
  color: #fff;
}
.gnb_wrap #n_btn:hover {
  background-color: #4ca4f5;
  border: 1px solid #4ca4f5;
  color: #fff;
}
#search {
  margin-right: 16px;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
}
#search:hover {
  color: #3586ff;
}
.search_wrap.active {
  position: absolute;
  top: 0px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}
.search {
  z-index: 100;
  position: absolute;
  color: #222;
  width: 100vw;
  height: 410px;
  top: -40px;
  left: 0;
  background-color: #f5f5f5;
}
.search .top {
  display: flex;
  align-items: center;
  position: relative;
  width: 100vw;
  padding: 0 165px;
  padding-top: 20px;
}
.search input {
  border: none;
  outline: none;
  background-color: #f5f5f5;
  padding-right: 400px;
  padding-left: 14px;
  font-size: 18px;
}
.search .top i {
  color: #666;
  font-size: 24px;
}
.search .bar {
  display: flex;
  margin-left: 260px;
}
.search #close {
  margin-left: 190px;
}
.search #close:hover {
  color: #3586ff;
}
.search .xi-close {
  cursor: pointer;
}
.search .logo .icon p,
.search .icon span {
  background-color: #222;
}
.search .item_wrap {
  border-top: 1px solid #ccc;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100vw;
  height: 309px;
}
.search .item {
  position: relative;
}
.search .item {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.search .item h1 {
  height: 10px;
  line-height: 10px;
  font-size: 14px;
}
.search .item i {
  font-size: 60px;
}
.search .auto {
  position: absolute;
  top: 360px;
  left: 46%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 600px;
  height: 30px;
  line-height: 30px;
  text-decoration: underline;
  color: #14adea;
  font-size: 14px;
  cursor: pointer;
}
body.active {
  overflow: hidden;
}
.contact {
  position: absolute;
  width: 200px;
  right: 264px;
  top: 65px;
  background-color: #fff;
  z-index: 100;
  text-align: center;
  padding: 20px 0px;
  color: #222;
  border-radius: 15px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.219);
  font-size: 14px;
  text-align: left;
}
.contact li {
  height: 34px;
  line-height: 34px;
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.contact i {
  font-size: 18px;
}
.contact li.active {
  color: #3586ff;
}
.contact li:nth-child(3) {
  border-bottom: 1px solid #ccc;
  height: 1px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.contact li:nth-child(3) {
}
.contact li:not(:nth-child(3)):hover {
  background-color: #ebf6ff;
  color: #3586ff;
  cursor: pointer;
}

/* sub */
.sub p:hover {
  color: #3586ff;
}
.sub_wrap {
  position: absolute;
  top: 80px;
  left: -450px;
  padding-left: 200px;
  display: flex;
  color: #222;
  display: none;
  background-color: #f5f5f5;
  width: 100vw;
  box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.sub_wrap .sub {
  display: flex;
  gap: 80px;
  padding-top: 20px;
}
.sub_wrap .info > h1 {
  height: 40px;
  font-size: 24px;
}
.sub_wrap .info > p {
  width: 340px;
  line-height: 1.2;
  padding: 40px 0;
  color: #666;
}
.sub_wrap .wrap {
  display: flex;
  gap: 10px;
}
.sub_wrap li {
  width: 180px;
  height: 60px;
}
.sub_wrap .update {
  height: 12px;
  line-height: 12px;
}
.sub_wrap li:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.sub_wrap .info {
  height: 500px;
}
.sub_wrap .info_btn {
  background-color: #3586ff;
  border-radius: 10px;
  color: #fff;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.sub_wrap .info_btn span {
  height: 40px;
  line-height: 40px;
}
.sub_wrap .info_btn:hover {
  background-color: #1851a7;
}

#info li:hover {
  color: #3586ff;
}

.pin {
  position: relative;
}
.pin span {
  position: absolute;
  top: -21px;
  right: -9px;
  color: #07ff13;
  font-size: 36px;
}
/* service */
.service {
  font-family: "Noto Sans KR", sans-serif;
}
.service .sub {
  margin-top: 30px;
  z-index: 1000;
  height: 800px;
}
.service .service_gnb {
  display: flex;
  flex-direction: column;
  height: 30px;
  line-height: 30px;
}
.service .info_btn {
  margin-top: 14px;
}
.service .wrap {
  display: block;
  margin-top: 4px;
}
.service .wrap > h1 {
  font-weight: bold;
  font-size: 36px;
  border-bottom: 1px solid #ccc;
  width: 1140px;
  height: 32px;
  line-height: 32px;
  padding-bottom: 20px;
}
.service .item_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 1280px;
  gap: 0 20px;
}
.service .item {
  height: 100px;
  border-bottom: 1px solid #ccc;
  padding: 30px;
  padding-left: 0;
}
.service .item h1 {
  height: 30px;
  line-height: 30px;
  font-weight: bold;
}
.service .item p {
  width: 340px;
  line-height: 20px;
  margin-top: 14px;
  color: #666;
  font-size: 14px;
}
.service .item_title .update {
  height: 12px;
  line-height: 10px;
  margin-top: 6px;
}
.service .item_title {
  display: flex;
  gap: 6px;
  align-items: center;
  height: 30px;
  line-height: 30px;
}
.service .item:nth-child(7) {
  border: none;
}
.service .item:nth-child(8) {
  border: none;
}
.service .item:nth-child(9) {
  border: none;
}
.service .item:hover h3 {
  color: #3586ff;
}

/* Solutions */

.sub_solution .click {
  display: flex;
  align-items: center;
  gap: 8px;
}
.sub_solution > h1 {
  font-size: 18px;
}
.sub_solution .info h1 {
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
}
.sub_solution .info_btn {
  margin-top: 30px;
}
.sub_solution .wrap {
  display: block;
  margin-top: 14px;
}
.sub_solution .wrap > h1 {
  font-weight: bold;
  font-size: 36px;
  border-bottom: 1px solid #ccc;
  width: 1233px;
  height: 32px;
  line-height: 32px;
  padding-bottom: 20px;
}
.sub_solution .item_wrap {
  display: flex;
  gap: 40px;
}
.sub_solution .item_wrap li {
  width: 360px;
  line-height: 20px;
  margin-top: 10px;
  margin-right: 40px;
  font-size: 20px;
  padding: 10px 0;
}
.sub_solution .item_wrap .text {
  font-size: 16px;
  margin-top: 10px;
  color: #666;
}
.sub_solution h1:hover {
  color: #14adea;
}
.sub_solution li:hover {
  color: #3586ff;
}

/* market */
.market .wrap {
}
.market .update {
  height: 12px;
  line-height: 10px;
  margin-top: 34px;
}

/* price */
.price .wrap .update {
  height: 12px;
  line-height: 12px;
  padding-bottom: 2px;
}
.price ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 400px;
  height: 20px;
  gap: 20px;
}
.price li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.price li:last-child {
  height: 20px;
  line-height: 20px;
}
.price li:hover {
  color: #3586ff;
}

/* support */
.support .info p {
  width: 220px;
}
.support .wrap {
  margin-top: 12px;
}
.support .sub_wrap li .update {
  height: 12px;
  line-height: 12px;
  padding-bottom: 2px;
}
.support .sub_wrap li {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 220px;
  height: 40px;
  line-height: 40px;
  border: none;
}
.support li:first-child {
  font-weight: bold;
  font-size: 18px;
}
.support li:hover {
  color: #3586ff;
}

/* partner */
.partner ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 80px;
}
.partner li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.partner li:hover {
  color: #3586ff;
}

/* guide */
.guide li .update {
  padding-bottom: 2px;
}
.guide li {
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.guide li:hover {
  color: #3586ff;
}

/* footer */
.footer_wrap {
  width: 1625px;
  margin: 0 auto;
  color: #999;
}
.footer {
  background-color: #222;
}
.f_top {
  padding: 53px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #666;
}
.footer .sns {
  color: #999;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 36px;
}
.footer .sns li {
  transition: all 0.3s;
}
.footer .sns li:hover {
  color: #eee;
}
.footer .text {
  color: #999;
  display: flex;
  gap: 10px;
  font-size: 18px;
}
.f_top .text h1 {
  padding-top: 10px;
}
.f_top .btn2 {
  color: #fff;
  border: 1px solid #999;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 14px;
}
.f_top .btn2:hover {
  background-color: #1851a7;
  border: 1px solid #1851a7;
}
.f_gnb {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-bottom: 1px solid #666;
  padding-bottom: 40px;
}
.f_gnb h1 {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 30px 0;
}
.f_gnb li {
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 16px;
}
.f_gnb li:hover {
  color: #4ca4f5;
}
.f_bottom {
  display: flex;
  flex-direction: column;
  gap: 40px;
  position: relative;
}
.f_bottom .f_logo {
  padding-right: 40px;
  transition: all 0.3s;
}
.f_bottom .f_logo:hover {
  filter: brightness(1.3);
}
.f_bottom ul {
  display: flex;
  gap: 10px;
}
.f_bottom li:nth-child(3) {
  color: #fff;
}
.f_bottom .nav li:hover {
  color: #4ca4f5;
}
.f_bottom .item1 {
  display: flex;
  padding: 30px 0;
}
.f_bottom .adress {
  padding: 10px 0;
}
.f_bottom .info {
  padding-bottom: 60px;
}
.f_bottom .f_btn {
  position: absolute;
  top: 30px;
  right: 140px;
  color: #fff;
  display: flex;
  gap: 16px;
}
.f_bottom .f_btn p {
  border: 1px solid #999;
  padding: 16px;
  border-radius: 10px;
}
.f_bottom .f_btn .lang {
  display: flex;
  border: 1px solid #999;
  padding: 16px 26px;
  gap: 30px;
  border-radius: 10px;
}
.f_bottom .f_btn p:hover,
.f_btn .lang:hover {
  background-color: #1851a7;
  border: 1px solid #1851a7;
}

/* dock */
.dock {
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 900;
  cursor: pointer;
}
.dock ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
